amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.6.2
certifi==2026.2.25
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
dj-database-url==2.3.0
django==6.0.2
djangorestframework==3.16.1
elastic-transport==8.17.1
elasticsearch==8.19.3
elasticsearch-dsl==8.18.0
gunicorn==22.0.0
kombu==5.6.2
packaging==26.0
prompt-toolkit==3.0.52
psycopg==3.3.3
psycopg-binary==3.3.3
pyjwt==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
redis==5.3.1
six==1.17.0
sortedcontainers==2.4.0
sqlparse==0.5.5
typing-extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
